atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
bleach==3.0.2
certifi==2018.10.15
chardet==3.0.4
coverage==4.5.2
dataclasses==0.6
dj-database-url==0.5.0
Django==1.11
django-bootstrap3==11.0.0
django-ckeditor==5.6.1
django-contrib-comments==1.9.0
django-crispy-forms==1.7.2
django-heroku==0.3.1
django-js-asset==1.1.0
django-tinymce==2.7.0
filebrowser-safe==0.5.0
future==0.17.1
grappelli-safe==0.5.1
gunicorn==19.9.0
idna==2.7
more-itertools==5.0.0
oauthlib==2.1.0
pathlib2==2.3.3
pkg-resources==0.0.0
pluggy==0.8.1
psycopg2==2.7.7
py==1.7.0
pytest==4.1.1
pytest-cov==2.6.1
pytest-django==3.4.5
pytz==2018.7
requests==2.20.0
requests-oauthlib==1.0.0
selenium==3.141.0
six==1.11.0
sqlparse==0.2.4
system==0.1.14
tzlocal==1.5.1
urllib3==1.24.1
webencodings==0.5.1
whitenoise==4.1
